<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.system.mapper.SysMovieCategoryMapper">
    <select id="findAllCategorys" resultType="SysMovieCategory">
        select * from sys_movie_category
    </select>

    <select id="findCategoryById" resultType="SysMovieCategory" parameterType="long">
        select * from sys_movie_category where movie_category_id = #{id}
    </select>

    <select id="findOneMovieCategorys" resultType="SysMovieCategory" parameterType="long">
        select * from sys_movie_category smc, sys_movie_to_category smtc
        where smc.movie_category_id = smtc.movie_category_id and movie_id = #{id}
    </select>

    <update id="addCategory" parameterType="SysMovieCategory">
        insert into sys_movie_category(movie_category_name) values(#{movieCategoryName})
    </update>

    <update id="updateCategory" parameterType="SysMovieCategory">
        update sys_movie_category set movie_category_name = #{movieCategoryName} where movie_category_id = #{movieCategoryId}
    </update>

    <update id="deleteCategory" parameterType="Long">
        delete from sys_movie_category where movie_category_id = #{movieCategoryId}
    </update>

    <update id="addMovieToCategory" parameterType="SysMovieToCategory">
        insert into sys_movie_to_category values(#{movieId}, #{movieCategoryId})
    </update>

    <update id="deleteMovieToCategory" parameterType="SysMovieToCategory">
        delete from sys_movie_to_category where movie_id = #{movieId} and movie_category_id = #{movieCategoryId}
    </update>

</mapper>