<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.system.mapper.SysRoleMapper">

    <resultMap id="SysRoleMap" type="SysRole">
        <id property="roleId" column="role_id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="roleDesc" column="role_desc"></result>
        <collection property="children" column="role_id" ofType="SysResource" select="com.panda.system.mapper.SysRoleMapper.findByRoleId">
        </collection>
    </resultMap>

    <resultMap id="OneRoleMap" type="SysResource">
        <id property="id" column="resource_id"></id>
        <result property="name" column="resource_name"></result>
        <result property="path" column="path"></result>
        <result property="level" column="level"></result>
        <result property="parentId" column="parent_id"></result>    <!-- 一级目录 -->
        <collection property="children" column="resource_id" ofType="SysResource">
            <id property="id" column="sid"></id>
            <result property="name" column="sname"></result>
            <result property="path" column="spath"></result>
            <result property="level" column="slevel"></result>
            <result property="parentId" column="sparent_id"></result>    <!-- 二级目录 -->
            <collection property="children" column="resource_id" ofType="SysResource">
                <id property="id" column="gsid"></id>
                <result property="name" column="gsname"></result>
                <result property="path" column="gspath"></result>
                <result property="level" column="gslevel"></result>
                <result property="parentId" column="gsparent_id"></result>    <!-- 三级权限 -->
            </collection>
        </collection>
    </resultMap>

    <select id="findAllRoles" resultMap="SysRoleMap">
        select * from sys_role sysr
    </select>

    <select id="findByRoleId" resultMap="OneRoleMap" parameterType="Long">
        select resources.* from sys_role sysr
        left join sys_role_resource srr on sysr.role_id = srr.role_id
        left join
            (select sr.*, sr1.resource_id sid, sr1.resource_name sname, sr1.path spath, sr1.level slevel, sr1.parent_id sparent_id,
                    sr2.resource_id gsid, sr2.resource_name gsname, sr2.path gspath, sr2.level gslevel, sr2.parent_id gsparent_id from sys_resource sr
                    left join sys_resource sr1 on sr1.parent_id = sr.resource_id
                    left join sys_resource sr2 on sr2.parent_id = sr1.resource_id
                    where sr.level = 1) resources on srr.resource_id = resources.gsid where sysr.role_id = #{id}
    </select>

    <select id="findRoleById" resultType="SysRole" parameterType="long">
        select * from sys_role where role_id = #{id}
    </select>

    <update id="addRole" parameterType="SysRole">
        insert into sys_role(role_name, role_desc) values(#{roleName}, #{roleDesc})
    </update>

    <update id="updateRole" parameterType="SysRole">
        update sys_role set role_name = #{roleName}, role_desc = #{roleDesc} where role_id = #{roleId}
    </update>

    <update id="deleteRole" parameterType="Long">
        delete from sys_role where role_id = #{id}
    </update>


    <!-- 分配权限 -->
    <update id="addRight">
        insert into sys_role_resource values(#{roleId}, #{resourceId})
    </update>

    <!-- 删除权限 -->
    <update id="deleteRight">
        delete from sys_role_resource where role_id = #{roleId} and resource_id = #{resourceId}
    </update>

    <!-- 查询指定role的所有权限id -->
    <select id="findAllRights" resultType="Long" parameterType="Long">
        select resource_id id from sys_role_resource where role_id = #{roleId}
    </select>

</mapper>