<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.system.mapper.SysUserMapper">

    <resultMap id="SysUserMap" type="SysUser">
        <id property="userId" column="user_id"></id>
        <result property="roleId" column="role_id"></result>
        <association property="sysRole" column="role_id" select="com.panda.system.mapper.SysRoleMapper.findRoleById"></association>
    </resultMap>

    <resultMap id="loginUserMap" type="LoginUser">
        <id property="sysUser.userId" column="user_id"></id>
        <result property="sysUser.userName" column="user_name"></result>
        <result property="sysUser.password" column="password"></result>
        <result property="sysUser.salt" column="salt"></result>
        <result property="sysUser.email" column="email"></result>
        <result property="sysUser.phoneNumber" column="phone_number"></result>
        <result property="sysUser.sex" column="sex"></result>
        <result property="sysUser.userPicture" column="user_picture"></result>
        <result property="sysUser.birthday" column="birthday"></result>
        <result property="sysUser.autograph" column="autograph"></result>
        <result property="sysUser.roleId" column="role_id"></result>
        <association property="sysUser.sysRole" column="role_id" select="com.panda.system.mapper.SysRoleMapper.findRoleById"></association>
        <association property="sysUser.sysRole.children" column="role_id" select="com.panda.system.mapper.SysRoleMapper.findByRoleId"></association>
    </resultMap>

    <select id="findAllUsers" resultMap="SysUserMap" parameterType="SysUser">
        select * from sys_user
        <where>
            del_state = 0
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number like concat('%', #{phoneNumber}, '%')
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="roleId != null and roleId != ''">
                and role_id = #{roleId}
            </if>
        </where>
    </select>

    <select id="findUserById" resultMap="SysUserMap" parameterType="long">
        select * from sys_user where user_id = #{id}
    </select>

    <select id="findUserByName" resultMap="SysUserMap" parameterType="String">
        select * from sys_user where user_name = #{userName} and del_state = 0
    </select>

    <update id="addUser" parameterType="SysUser">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="userId" keyColumn="user_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_user(
        user_name,
        password,
        salt,
        <if test="email != null and email != ''">email,</if>
        <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
        <if test="userPicture != null and userPicture != ''">user_picture,</if>
        <if test="roleId != null and roleId != 0"> role_id, </if>
        sex
        )
        values(
        #{userName},
        #{password},
        #{salt},
        <if test="email != null and email != ''">#{email},</if>
        <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
        <if test="userPicture != null and userPicture != ''">#{userPicture},</if>
        <if test="roleId != null and roleId != 0">#{roleId}, </if>
        #{sex})
    </update>

    <update id="updateUser" parameterType="SysUser">
        update sys_user set
        user_name = #{userName},
        password = #{password},
        salt = #{salt},
        <if test="email != null and email != ''">email = #{email},</if>
        <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber}, </if>
        <if test="userPicture != null and userPicture != ''">user_picture = #{userPicture},</if>
        <if test="birthday != null and birthday != ''" >birthday = #{birthday},</if>
        <if test="autograph != null and autograph != ''" >autograph = #{autograph},</if>
        <if test="roleId != null and roleId != 0">role_id = #{roleId}, </if>
        sex = #{sex}
        where user_id = #{userId}
    </update>

    <update id="deleteUser" parameterType="Long">
        update sys_user set del_state = 1 where user_id = #{id}
    </update>

    <!-- 查询登录用户信息 -->
    <select id="findLoginUser" parameterType="SysUserVo" resultMap="loginUserMap">
        select * from sys_user where user_name = #{userName} limit 0,1
    </select>

    <!-- 查询用户名出现的次数，用于校验用户名唯一性 -->
    <select id="checkUserNameUnique" parameterType="String" resultType="Long">
        select user_id from sys_user where user_name = #{userName}
    </select>

</mapper>