<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysActorRoleMapper">
    <select id="findAll" resultType="SysActorRole">
        select * from sys_actor_role
    </select>

    <select id="findById" resultType="SysActorRole" parameterType="long">
        select * from sys_actor_role where actor_role_id = #{id}
    </select>

    <update id="add" parameterType="SysActorRole">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="actorRoleId" keyColumn="actor_role_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_actor_role(actor_role_name) values(#{actorRoleName})
    </update>

    <update id="update" parameterType="SysActorRole">
        update sys_actor_role set actor_role_name = #{actorRoleName} where actor_role_id = #{actorRoleId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_actor_role where actor_role_id = #{actorRoleId}
    </update>
</mapper>