<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysActorMovieMapper">

    <select id="findAll" parameterType="SysActorMovie" resultType="SysActorMovie">
        select * from sys_actor_movie
        <where>
            <if test="movieId != null and movieId != ''"> and movie_id = #{movieId} </if>
            <if test="actorId != null and actorId != ''"> and actor_id = #{actorId} </if>
            <if test="actorRoleId != null and actorRoleId != ''"> and actor_role_id = #{actorRoleId} </if>
        </where>
    </select>

    <update id="add" parameterType="SysActorMovie">
        insert into sys_actor_movie values (#{movieId}, #{actorId}, #{actorRoleId})
    </update>

    <update id="delete" parameterType="SysActorMovie">
        delete from sys_actor_movie where movie_id = #{movieId} and actor_id = #{actorId} and actor_role_id = #{actorRoleId}
    </update>
    
</mapper>