<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysBillMapper">

    <resultMap id="BillMap" type="SysBill">
        <id property="billId" column="bill_id"></id>
        <result property="userId" column="user_id"></result>
        <result property="sessionId" column="session_id"></result>
        <association property="sysSession" column="session_id" select="com.gouyan.system.mapper.SysSessionMapper.findById"></association>
        <association property="sysUser" column="user_id" select="com.gouyan.system.mapper.SysUserMapper.findById"></association>
    </resultMap>

    <select id="findAll" parameterType="SysBill" resultMap="BillMap">
        select * from sys_bill
        <where>
            <if test="billState != null"> and bill_state = #{billState} </if>
            <if test="userId != null"> and user_id = #{userId} </if>
            <if test="billDate != null"> and bill_date &gt;= #{billDate} and bill_date &lt;= adddate(#{billDate}, 1) </if>
        </where>
    </select>

    <select id="findById" parameterType="long" resultMap="BillMap">
        select * from sys_bill where bill_id = #{id}
    </select>

    <update id="add" parameterType="SysBill">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="billId" keyColumn="bill_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_bill (
            <if test="billState != null">bill_state, </if>
            user_id, session_id, seats, bill_date
        ) values (
            <if test="billState != null">#{billState}, </if>
            #{userId}, #{sessionId}, #{seats},
            <if test="billDate != null">#{billDate}</if>
            <if test="billDate == null">sysdate()</if>
        )
    </update>

    <update id="update" parameterType="SysBill">
        update sys_bill set
        <if test="billState != null">bill_state = #{billState}, </if>
        <if test="seats != null and seats != ''">seats = #{seats}, </if>
        bill_date = sysdate()
        where bill_id = #{billId}
    </update>
    
    <update id="delete" parameterType="long">
        delete from sys_bill where bill_id = #{id}
    </update>

    <select id="todayBoxOffice" resultType="double">
        select COALESCE(sum(ss.session_price * JSON_LENGTH(sb.seats)), 0) from sys_bill sb
        join sys_session ss on sb.session_id = ss.session_id
        where ss.session_date = curdate()
    </select>

</mapper>