<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysCinemaAreaMapper">
    <select id="findAll" resultType="SysCinemaArea">
        select * from sys_cinema_area
    </select>

    <select id="findById" resultType="SysCinemaArea" parameterType="long">
        select * from sys_cinema_area where cinema_area_id = #{id}
    </select>

    <update id="add" parameterType="SysCinemaArea">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="cinemaAreaId" keyColumn="cinema_area_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_cinema_area(cinema_area_name, province, city) values(#{cinemaAreaName}, #{province}, #{city})
    </update>

    <update id="update" parameterType="SysCinemaArea">
        update sys_cinema_area set cinema_area_name = #{cinemaAreaName}, province = #{province}, city = #{city} where cinema_area_id = #{cinemaAreaId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_cinema_area where cinema_area_id = #{cinemaAreaId}
    </update>
</mapper>