<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysCinemaMapper">

    <!--column属性：如果没有别名就必须跟字段名一样，有别名就可以跟别名一样，通过别名映射到字段-->
    <resultMap id="SysCinemaResult" type="SysCinema">
        <id property="cinemaId" column="cinema_id"></id>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="cinemaBrandId" column="cinema_brand_id"></result>
        <result property="cinemaPicture" column="cinema_picture"></result>
        <result property="isTicketChanged" column="is_ticket_changed"></result>
        <result property="isRefunded" column="is_refunded"></result>
        <result property="cinemaAreaId" column="cinema_area_id"></result>
        <result property="cinemaAddress" column="cinema_address"></result>
        <result property="userId" column="user_id"></result>
        <result property="entryDate" column="entry_date"></result>
        <association property="user" column="user_id" select="com.gouyan.system.mapper.SysUserMapper.findById"></association>
        <association property="sysCinemaBrand" column="cinema_brand_id" select="com.gouyan.system.mapper.SysCinemaBrandMapper.findById"></association>
        <association property="sysCinemaArea" column="cinema_area_id" select="com.gouyan.system.mapper.SysCinemaAreaMapper.findById"></association>
        <collection property="sysHallCategoryList" ofType="SysHallCategory" column="cinema_id" select="com.gouyan.system.mapper.SysHallCategoryMapper.findByCinemaId"></collection>
    </resultMap>

    <!-- 查询单个影院的详细信息，包含影院上映的所有电影信息 -->
    <resultMap id="SysCinemaMap" type="SysCinema">
        <id property="cinemaId" column="cinema_id"></id>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="cinemaBrandId" column="cinema_brand_id"></result>
        <result property="cinemaPicture" column="cinema_picture"></result>
        <result property="isTicketChanged" column="is_ticket_changed"></result>
        <result property="isRefunded" column="is_refunded"></result>
        <result property="cinemaAreaId" column="cinema_area_id"></result>
        <result property="cinemaAddress" column="cinema_address"></result>
        <result property="userId" column="user_id"></result>
        <result property="entryDate" column="entry_date"></result>
        <association property="user" column="user_id" select="com.gouyan.system.mapper.SysUserMapper.findById"></association>
        <association property="sysCinemaBrand" column="cinema_brand_id" select="com.gouyan.system.mapper.SysCinemaBrandMapper.findById"></association>
        <association property="sysCinemaArea" column="cinema_area_id" select="com.gouyan.system.mapper.SysCinemaAreaMapper.findById"></association>
        <collection property="sysMovieList" ofType="SysMovie" column="cinema_id" select="com.gouyan.system.mapper.SysMovieMapper.findByCinemaId"></collection>
    </resultMap>

    <!--带条件查询的findAll-->
    <select id="findAll" resultMap="SysCinemaResult" parameterType="SysCinemaVo">
        select distinct sc.* from sys_cinema sc
        <if test="hallCategoryId != null and hallCategoryId > 0">
            join sys_hall sh on sc.cinema_id = sh.cinema_id
            join sys_hall_category shc on shc.hall_category_id = sh.hall_category_id
        </if>
        <where>
            <if test="cinemaName != null and cinemaName != ''"> and sc.cinema_name like concat('%', #{cinemaName}, '%') </if>
            <if test="cinemaBrandId != null and cinemaBrandId > 0"> and sc.cinema_brand_id = #{cinemaBrandId} </if>
            <if test="cinemaAddress != null and cinemaAddress != ''"> and sc.cinema_address like concat ('%', #{cinemaAddress}, '%') </if>
            <if test="cinemaAreaId != null and cinemaAreaId != ''"> and sc.cinema_area_id = #{cinemaAreaId} </if>
            <if test="isTicketChanged != null"> and sc.is_ticket_changed = #{isTicketChanged} </if>
            <if test="isRefunded != null"> and sc.is_refunded = #{isRefunded} </if>
            <if test="hallCategoryId != null and hallCategoryId > 0"> and shc.hall_category_id = #{hallCategoryId} </if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="SysCinemaResult">
        select * from sys_cinema where cinema_id = #{cinemaId}
    </select>

    <update id="add" parameterType="SysCinema">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="cinemaAreaId" keyColumn="cinema_area_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_cinema (cinema_name, cinema_brand_id, cinema_picture, is_ticket_changed, is_refunded, cinema_area_id, cinema_address, user_id, entry_date)
        values (#{cinemaName}, #{cinemaBrandId}, #{cinemaPicture}, #{isTicketChanged}, #{isRefunded}, #{cinemaAreaId}, #{cinemaAddress}, #{userId}, #{entryDate})
    </update>

    <update id="update" parameterType="SysCinema">
        update sys_cinema set
        cinema_name = #{cinemaName}, cinema_brand_id = #{cinemaBrandId}, cinema_picture = #{cinemaPicture}, is_ticket_changed = #{isTicketChanged},
        is_refunded = #{isRefunded}, cinema_area_id = #{cinemaAreaId}, cinema_address = #{cinemaAddress}, user_id = #{userId}, entry_date = #{entryDate}
        where cinema_id = #{cinemaId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_cinema where cinema_id = #{id}
    </update>

    <select id="findCinemaById" parameterType="Long" resultMap="SysCinemaMap">
        select * from sys_cinema where cinema_id = #{id}
    </select>

</mapper>