<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysHallMapper">

    <resultMap id="sysHallMap" type="SysHall">
        <result property="cinemaId" column="cinema_id"></result>
        <result property="hallId" column="hall_id"></result>
        <result property="hallCategoryId" column="hall_category_id"></result>
        <association property="sysCinema" column="cinema_id" select="com.gouyan.system.mapper.SysCinemaMapper.findById"></association>
        <association property="sysHallCategory" column="hall_category_id" select="com.gouyan.system.mapper.SysHallCategoryMapper.findById"></association>
    </resultMap>

    <select id="findAll" resultMap="sysHallMap" parameterType="SysHall">
        select * from sys_hall
        <where>
            <if test="cinemaId != null and cinemaId != 0"> and cinema_id = #{cinemaId} </if>
            <if test="hallName != null and hallName != ''"> and hall_name like concat ('%', #{hallName}, '%') </if>
            <if test="hallCategoryId != null and hallCategoryId != 0"> and hall_category_id = #{hallCategoryId} </if>
            <if test="hallState != null"> and hall_state = #{hallState} </if>
        </where>
    </select>

    <select id="findByCinemaIdAndHallId" parameterType="SysHall" resultMap="sysHallMap">
        select * from sys_hall where cinema_id = #{cinemaId} and hall_id = #{hallId}
    </select>

    <update id="add" parameterType="SysHall">
        insert into sys_hall values (#{cinemaId}, #{hallId}, #{hallName}, #{hallCategoryId}, #{rowStart}, #{rowNums}, #{seatNumsRow}, #{seatNums}, #{seatState}, #{hallState})
    </update>

    <update id="update" parameterType="SysHall">
        update sys_hall set
        hall_name = #{hallName},
        hall_category_id = #{hallCategoryId},
        row_start = #{rowStart},
        row_nums = #{rowNums},
        seat_nums_row = #{seatNumsRow},
        seat_nums = #{seatNums},
        seat_state = #{seatState},
        hall_state = #{hallState}
        where cinema_id = #{cinemaId} and hall_id = #{hallId}
    </update>

    <update id="delete" parameterType="SysHall">
        delete from sys_hall where cinema_id = #{cinemaId} and hall_id  = #{hallId}
    </update>

</mapper>