<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysHallCategoryMapper">

    <select id="findAll" resultType="SysHallCategory">
        select * from sys_hall_category
    </select>

    <select id="findById" resultType="SysHallCategory" parameterType="long">
        select * from sys_hall_category where hall_category_id = #{id}
    </select>

    <select id="findByCinemaId" resultType="SysHallCategory" parameterType="long">
        select distinct shc.* from sys_hall sh
        join sys_hall_category shc on sh.hall_category_id = shc.hall_category_id
        where sh.cinema_id= #{id}
    </select>

    <update id="add" parameterType="SysHallCategory">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="hallCategoryId" keyColumn="hall_category_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_hall_category(hall_category_name) values(#{hallCategoryName})
    </update>

    <update id="update" parameterType="SysHallCategory">
        update sys_hall_category set hall_category_name = #{hallCategoryName} where hall_category_id = #{hallCategoryId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_hall_category where hall_category_id = #{id}
    </update>

</mapper>