<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysMovieAreaMapper">

    <select id="findAll" resultType="SysMovieArea">
        select * from sys_movie_area
    </select>
    
    <select id="findById" resultType="SysMovieArea" parameterType="long">
        select * from sys_movie_area where movie_area_id = #{id}
    </select>

    <update id="add" parameterType="SysMovieArea">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="movieAreaId" keyColumn="movie_area_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_movie_area(movie_area_name) values(#{movieAreaName})
    </update>

    <update id="update" parameterType="SysMovieAge">
        update sys_movie_area set movie_area_name = #{movieAreaName} where movie_area_id = #{movieAreaId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_movie_area where movie_area_id = #{movieAreaId}
    </update>

</mapper>