<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysMovieMapper">

    <resultMap id="SysMovieResult" type="SysMovie">
        <id property="movieId" column="movie_id"></id>
        <result property="movieAreaId" column="movie_area_id"></result>
        <result property="movieAgeId" column="movie_age_id"></result>
        <association property="sysMovieArea" column="movie_area_id" select="com.gouyan.system.mapper.SysMovieAreaMapper.findById"></association>
        <association property="sysMovieAge" column="movie_age_id" select="com.gouyan.system.mapper.SysMovieAgeMapper.findById"></association>
        <collection property="movieCategoryList" column="movie_id" select="com.gouyan.system.mapper.SysMovieCategoryMapper.findByMovieId"></collection>
    </resultMap>

    <resultMap id="MovieMap" type="SysMovie">
        <id property="movieId" column="movie_id"></id>
        <result property="movieNameCn" column="movie_name_cn"></result>
        <result property="movieNameEn" column="movie_name_en"></result>
        <result property="movieLength" column="movie_length"></result>
        <result property="moviePoster" column="movie_poster"></result>
        <result property="movieAreaId" column="movie_area_id"></result>
        <result property="movieAgeId" column="movie_age_id"></result>
        <result property="releaseDate" column="release_date"></result>
        <result property="movieScore" column="movie_score"></result>
        <result property="movieBoxOffice" column="movie_box_office"></result>
        <result property="movieRateNum" column="movie_rate_num"></result>
        <result property="movieIntroduction" column="movie_introduction"></result>
        <result property="moviePictures" column="movie_pictures"></result>
        <association property="sysMovieArea" column="movie_area_id" select="com.gouyan.system.mapper.SysMovieAreaMapper.findById"></association>
        <association property="sysMovieAge" column="movie_age_id" select="com.gouyan.system.mapper.SysMovieAgeMapper.findById"></association>
        <collection property="actorRoleList" ofType="SysActorRole">
            <id property="actorRoleId" column="actor_role_id"></id>
            <result property="actorRoleName" column="actor_role_name"></result>
            <collection property="actorList" ofType="SysActor">
                <id property="actorId" column="actor_id"></id>
                <result property="actorName" column="actor_name"></result>
                <result property="actorPhoto" column="actor_photo"></result>
                <result property="actorHeight" column="actor_height"></result>
                <result property="actorAge" column="actor_age"></result>
                <result property="actorGender" column="actor_gender"></result>
                <result property="actorSchool" column="actor_school"></result>
                <result property="actorNation" column="actor_nation"></result>
                <result property="actorBloodType" column="actor_blood_type"></result>
                <result property="actorConstellation" column="actor_constellation"></result>
                <result property="actorNationality" column="actor_nationality"></result>
                <result property="actorInformation" column="actor_information"></result>
            </collection>
        </collection>
        <collection property="movieCommentList" ofType="SysMovieComment" column="movie_id" select="com.gouyan.system.mapper.SysMovieCommentMapper.findByMovieId"></collection>
        <collection property="movieCategoryList" ofType="SysMovieCategory" column="movie_id" select="com.gouyan.system.mapper.SysMovieCategoryMapper.findByMovieId"></collection>
    </resultMap>

    <resultMap id="CinemaMovieMap" type="SysMovie">
        <id property="movieId" column="movie_id"></id>
        <result property="movieNameCn" column="movie_name_cn"></result>
        <result property="movieNameEn" column="movie_name_en"></result>
        <result property="movieLength" column="movie_length"></result>
        <result property="moviePoster" column="movie_poster"></result>
        <result property="movieAreaId" column="movie_area_id"></result>
        <result property="movieAgeId" column="movie_age_id"></result>
        <result property="releaseDate" column="release_date"></result>
        <result property="movieScore" column="movie_score"></result>
        <result property="movieBoxOffice" column="movie_box_office"></result>
        <result property="movieRateNum" column="movie_rate_num"></result>
        <result property="movieIntroduction" column="movie_introduction"></result>
        <result property="moviePictures" column="movie_pictures"></result>
        <association property="sysMovieArea" column="movie_area_id" select="com.gouyan.system.mapper.SysMovieAreaMapper.findById"></association>
        <association property="sysMovieAge" column="movie_age_id" select="com.gouyan.system.mapper.SysMovieAgeMapper.findById"></association>
        <collection property="movieCategoryList" ofType="SysMovieCategory" column="movie_id" select="com.gouyan.system.mapper.SysMovieCategoryMapper.findByMovieId"></collection>
        <collection property="majorActorNameList" ofType="String" column="movie_id" select="com.gouyan.system.mapper.SysActorMapper.findaMajorActorNames"></collection>
    </resultMap>


    <select id="findAll" resultMap="CinemaMovieMap" parameterType="SysMovieVo">
        select sm.* from sys_movie sm
        <if test="movieCategoryId != null and movieCategoryId > 0">
            join sys_movie_to_category smtc on sm.movie_id = smtc.movie_id
            join sys_movie_category smc on smtc.movie_category_id = smc.movie_category_id
        </if>
        <where>
            <if test="movieNameCn != null and movieNameCn != ''">
                and sm.movie_name_cn like concat('%', #{movieNameCn}, '%')
            </if>
            <if test="movieNameEn != null and movieNameEn != ''">
                and sm.movie_name_en like concat('%', #{movieNameEn}, '%')
            </if>
            <if test="movieAreaId != null and movieAreaId > 0">
                and sm.movie_area_id = #{movieAreaId}
            </if>
            <if test="movieAgeId != null and movieAgeId > 0">
                and sm.movie_age_id = #{movieAgeId}
            </if>
            <if test="startDate != null">
                and sm.release_date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and sm.release_date &lt;= #{endDate}</if>
            <if test="movieCategoryId != null and movieCategoryId > 0">
                and smc.movie_category_id = #{movieCategoryId}
            </if>
        </where>
    </select>

    <select id="findById" resultMap="SysMovieResult" parameterType="long">
        select * from sys_movie where movie_id = #{id}
    </select>

    <!--根据id查询单个电影信息，不需要相关的额外信息-->
    <select id="findOne" resultType="SysMovie" parameterType="long">
        select * from sys_movie where movie_id = #{id}
    </select>

    <update id="add" parameterType="SysMovie">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="movieId" keyColumn="movie_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_movie(
            <if test=" movieNameCn != null and movieNameCn != ''">movie_name_cn,</if>
            <if test=" movieNameEn != null and movieNameEn != ''">movie_name_en,</if>
            <if test=" movieLength != null and movieLength != 0">movie_length,</if>
            <if test=" moviePoster != null and moviePoster != ''">movie_poster,</if>
            <if test=" movieAreaId != null and movieAreaId != 0">movie_area_id,</if>
            <if test=" movieIntroduction != null and movieIntroduction != ''">movie_introduction,</if>
            <if test=" releaseDate != null">release_date,</if>
            <if test=" movieScore != null and movieScore != 0">movie_score,</if>
            <if test=" movieBoxOffice != null">movie_box_offcie,</if>
            <if test=" movieRateNum != null and movieRateNum != 0">movie_rate_num,</if>
            <if test=" moviePictures != null and moviePictures != ''">movie_pictures,</if>
            movie_age_id
        ) values(
            <if test=" movieNameCn != null and movieNameCn != ''">#{movieNameCn},</if>
            <if test=" movieNameEn != null and movieNameEn != ''">#{movieNameEn},</if>
            <if test=" movieLength != null and movieLength != 0">#{movieLength},</if>
            <if test=" moviePoster != null and moviePoster != ''">#{moviePoster},</if>
            <if test=" movieAreaId != null and movieAreaId != 0">#{movieAreaId},</if>
            <if test=" movieIntroduction != null and movieIntroduction != ''">#{movieIntroduction},</if>
            <if test=" releaseDate != null">#{releaseDate},</if>
            <if test=" movieScore != null and movieScore != 0">#{movieScore},</if>
            <if test=" movieBoxOffice != null">#{movieBoxOffice},</if>
            <if test=" movieRateNum != null and movieRateNum != 0">#{movieRateNum},</if>
            <if test=" moviePictures != null and moviePictures != ''">#{moviePictures},</if>
            <if test=" movieAgeId == null or movieAgeId == 0">1</if>
            <if test="movieAgeId != null and movieAgeId != 0">#{movieAgeId}</if>
        )
    </update>

    <update id="update" parameterType="SysMovie">
        update sys_movie
        set
        <if test=" movieNameCn != null and movieNameCn != ''">movie_name_cn = #{movieNameCn},</if>
        <if test=" movieNameEn != null and movieNameEn != ''">movie_name_en = #{movieNameEn},</if>
        <if test=" movieLength != null and movieLength != 0">movie_length = #{movieLength},</if>
        <if test=" moviePoster != null and moviePoster != ''">movie_poster = #{moviePoster},</if>
        <if test=" movieAreaId != null and movieAreaId != 0">movie_area_id = #{movieAreaId},</if>
        <if test=" movieIntroduction != null and movieIntroduction != ''">movie_introduction = #{movieIntroduction},</if>
        <if test=" releaseDate != null">release_date = #{releaseDate},</if>
        <if test=" movieScore != null">movie_score = #{movieScore},</if>
        <if test=" movieBoxOffice != null">movie_box_office = #{movieBoxOffice},</if>
        <if test=" movieRateNum != null">movie_rate_num = #{movieRateNum},</if>
        <if test=" moviePictures != null and moviePictures != ''">movie_pictures = #{moviePictures},</if>
        <if test=" movieAgeId == null or movieAgeId == 0">movie_age_id = 1 </if>
        <if test="movieAgeId != null and movieAgeId != 0">movie_age_id = #{movieAgeId} </if>
        where movie_id = #{movieId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_movie where movie_id = #{movieId}
    </update>

    <select id="findMovieById" parameterType="Long" resultMap="MovieMap">
        select m.*, a.*, ar.* from sys_movie m
        left join sys_actor_movie am on m.movie_id = am.movie_id
        left join sys_actor a on a.actor_id = am.actor_id
        left join sys_actor_role ar on ar.actor_role_id = am.actor_role_id
        where m.movie_id = #{id}
        order by ar.actor_role_id
    </select>

    <!--查询指定影院的所有上映电影，包含主演名字、影片类别-->
    <select id="findByCinemaId" parameterType="Long" resultMap="CinemaMovieMap">
        select distinct sm.* from sys_movie sm
        join sys_session ss on sm.movie_id = ss.movie_id
        where ss.cinema_id = #{id} and ss.session_date &gt;= CURDATE() and ss.session_date &lt; ADDDATE(curdate(),5)
    </select>

    <!-- 查询各种榜单信息 -->
    <!-- 热映口碑榜：昨日安排场次的电影，按评分取前10 -->
    <select id="hotMovieList" resultMap="CinemaMovieMap">
        select distinct sm.* from sys_movie sm
        join sys_session ss on sm.movie_id = ss.movie_id
        where ss.session_date = adddate(curdate(), -1)
        order by sm.movie_score desc
    </select>

    <!-- 国内票房榜：已上映的国内电影中，按票房取前10 -->
    <select id="domesticBoxOfficeList" resultMap="CinemaMovieMap">
        select sm.* from sys_movie sm
        where sm.movie_area_id in (1, 5, 6) and sm.release_date &lt;= curdate()
        order by sm.movie_box_office desc
    </select>
    
    <!-- 欧美票房榜：已上映的欧美电影中，按票房取前10 -->
    <select id="europeanAndAmericanBoxOfficeList" resultMap="CinemaMovieMap">
        select sm.* from sys_movie sm
        where sm.movie_area_id in (2, 9, 10, 11, 12, 13, 14) and sm.release_date &lt;= curdate()
        order by sm.movie_box_office desc
    </select>

    <!-- top100榜：所有已上映电影按评分、评分人数取前100，分页交给Controller -->
    <select id="top100List" resultMap="CinemaMovieMap">
        select distinct sm.* from sys_movie sm
        where sm.release_date &lt;= curdate()
        order by sm.movie_score desc, sm.movie_rate_num desc
    </select>
</mapper>