<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysMovieCommentMapper">

    <resultMap id="commentResult" type="SysMovieComment">
        <result property="movieId" column="movie_id"></result>
        <result property="userId" column="user_id"></result>
        <association property="sysUser" column="user_id" select="com.gouyan.system.mapper.SysUserMapper.findById"></association>
        <association property="sysMovie" column="movie_id" select="com.gouyan.system.mapper.SysMovieMapper.findOne"></association>
    </resultMap>

    <select id="findAll" resultMap="commentResult">
        select * from sys_movie_comment
    </select>

    <select id="findOne" resultType="SysMovieComment" parameterType="SysMovieComment">
        select * from sys_movie_comment where movie_id = #{movieId} and user_id = #{userId} and comment_time = #{commentTime}
    </select>

    <select id="findByMovieId" resultMap="commentResult" parameterType="long">
        select * from sys_movie_comment where movie_id = #{id}
    </select>

    <select id="findByUserId" resultMap="commentResult" parameterType="long">
        select * from sys_movie_comment where user_id = #{id}
    </select>

    <update id="add" parameterType="SysMovieComment">
        insert into sys_movie_comment(movie_id, user_id, comment_time, content, score) values(#{movieId}, #{userId}, #{commentTime}, #{content}, #{score})
    </update>

    <update id="update" parameterType="SysMovieComment">
        update sys_movie_comment
        set
        <if test="content != null and content != ''">content = #{content},</if>
        <if test="score != null and score != 0">score = #{score},</if>
        comment_time = sysdate()
        where movie_id = #{movieId} and user_id = #{userId}
    </update>

    <update id="delete" parameterType="SysMovieComment">
        delete from sys_movie_comment where movie_id = #{movieId} and user_id = #{userId} and comment_time = #{commentTime}
    </update>
</mapper>