<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysMovieAgeMapper">
    <select id="findAll" resultType="SysMovieAge">
        select * from sys_movie_age
    </select>

    <select id="findById" resultType="SysMovieAge" parameterType="long">
        select * from sys_movie_age where movie_age_id = #{id}
    </select>

    <update id="add" parameterType="SysMovieAge">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="movieAgeId" keyColumn="movie_age_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_movie_age(movie_age_name) values(#{movieAgeName})
    </update>

    <update id="update" parameterType="SysMovieAge">
        update sys_movie_age set movie_age_name = #{movieAgeName} where movie_age_id = #{movieAgeId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_movie_age where movie_age_id = #{movieAgeId}
    </update>
</mapper>